# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.env
.venv

# IDE files
.vscode/
.idea/

# Testing
.pytest_cache/
.mypy_cache/

# uv
.uv/
